<!DOCTYPE html>
<html>
<head class="skel-layers-fixed">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sri Vaikuntapuramu Temple- Sanga Reddy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/skel-layers.min.js"></script>
    <script src="~/Scripts/init.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/style-xlarge.css" />   
</head>
@*<head id="header" class="skel-layers-fixed">
    <h1><a href="#">Sri Vaikuntapuramu Divya kshetram</a></h1>
    <nav id="nav">
        <ul>

            <li><a href="Events.html">Events</a></li>
            <li><a href="History.html">History</a></ li>
            <li><a href="Cahrity.html">Charity</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
            <li><a href="#" class="button special">Donate</a></li>
        </ul>
    </nav>
</head>*@
<!-- Header -->
<body>
    <div id="id="top"" >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SV Temple SRD</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
